<a href="https://colab.research.google.com/github/FelipeArgona/AnaliseDeDadosPandasArgona/blob/main/Analise_de_Dados_com_Pandas_Combustiveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula de verão Analise de dados com Pandas

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#import da biblioteca e carregamento do data frame

import pandas as pd

comb_df = pd.read_excel("/content/drive/MyDrive/ca-NOV-2021-02.xlsx")

In [ ]:
#ver o data frame

print(comb_df)

In [ ]:
display(comb_df)

In [ ]:
#shape e describe

print(comb_df.shape)

print(comb_df.describe())

In [ ]:
#head

display(comb_df.head(5))

In [ ]:
print(comb_df.info())

In [6]:
#Aqui criamos um novo dataframe apenas com as colunas desejadas 
ca_df = comb_df[['Revenda','Municipio','Produto','Valor de Venda']]
display(ca_df)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
1,POSTO ARAPIRACA LTDA,ARAPIRACA,ETANOL,5.299
2,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL,5.549
3,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA ADITIVADA,6.899
4,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL S10,5.649
...,...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,ETANOL,5.859
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,ETANOL,4.740
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,DIESEL S10,5.448
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA ADITIVADA,6.580

In [7]:
#Locaizando preços de etanol em INDAITUBA
# Sort

etanol_inda_df = ca_df.loc[(ca_df['Produto'] == 'ETANOL') & (ca_df ['Municipio']== 'INDAIATUBA')]
etanol_inda_df.sort_values(by='Valor de Venda', inplace = True)
display(etanol_inda_df)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,Revenda,Municipio,Produto,Valor de Venda
160592,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,4.679
140194,CENTRO AUTOMOTIVO RIVIERA TROPICAL LTDA,INDAIATUBA,ETANOL,4.679
140661,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
159497,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
141167,AUTO POSTO ESPLANADA DE INDAIA LTDA,INDAIATUBA,ETANOL,4.699
...,...,...,...,...
51129,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
51138,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,5.599
84395,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,5.599
65878,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
65363,AUTO POSTO INDIANA SELF LTDA.,INDAIATUBA,ETANOL,6.197

In [33]:
#Qual a media de preços dos combustiveis gasolina e gasolina aditivada do bairro Bela vista em são paulo
#funcao isin

#comb_sp = comb_df.loc[(comb_df['Bairro'] == 'MOOCA') & (comb_df['Municipio'] == 'SAO PAULO') & ((comb_df['Produto'] == 'GASOLINA') | (comb_df['Produto'] == 'GASOLINA ADITIVADA'))]

comb_sp = comb_df.loc[(comb_df['Bairro'] == 'MOOCA') & 
                      (comb_df['Municipio'] == 'SAO PAULO') & 
                      (comb_df['Produto'].isin(['GASOLINA', 'GASOLINA ADITIVADA']))]

comb_sp = comb_sp [['Revenda','Municipio','Bairro','Produto','Valor de Venda']]
comb_sp.sort_values(by='Valor de Venda', inplace = True)
display(comb_sp.mean())
display(comb_sp)

<ipython-input-33-66d5f6a7f32a>:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  display(comb_sp.mean())

Valor de Venda    6.575596
dtype: float64

,Revenda,Municipio,Bairro,Produto,Valor de Venda
11590,AUTO POSTO LIK LTDA,SAO PAULO,MOOCA,GASOLINA,5.999
139297,AUTO POSTO PANTERA LTDA,SAO PAULO,MOOCA,GASOLINA,5.999
11648,AUTO POSTO PANTERA LTDA,SAO PAULO,MOOCA,GASOLINA,6.099
103242,NOVO BRILHO CENTRO AUTOMOTIVO LTDA,SAO PAULO,MOOCA,GASOLINA,6.199
66374,NOVO BRILHO CENTRO AUTOMOTIVO LTDA,SAO PAULO,MOOCA,GASOLINA,6.199
142001,NOVO BRILHO CENTRO AUTOMOTIVO LTDA,SAO PAULO,MOOCA,GASOLINA,6.199
11646,AUTO POSTO PANTERA LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.199
139332,POSTO DE SERVICOS PARQUE DA MOOCA LTDA,SAO PAULO,MOOCA,GASOLINA,6.299
100341,AUTO POSTO PANTERA LTDA,SAO PAULO,MOOCA,GASOLINA,6.299
139295,AUTO POSTO PANTERA LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.299
63300,AUTO POSTO PANTERA LTDA,SAO PAULO,MOOCA,GASOLINA,6.299
13344,POSTO DE SERVICOS NOVA MOOCA LTDA.,SAO PAULO,MOOCA,GASOLINA,6.399
100372,POSTO DE SERVICOS PARQUE DA MOOCA LTDA,SAO PAULO,MOOCA,GASOLINA,6.399
63365,POSTO DE SERVICOS PARQUE DA MOOCA LTDA,SAO PAULO,MOOCA,GASOLINA,6.399
140720,POSTO DE SERVICOS NOVA MOOCA LTDA.,SAO PAULO,MOOCA,GASOLINA,6.499
63302,AUTO POSTO PANTERA LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.499
100339,AUTO POSTO PANTERA LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.499
13271,POSTO DE SERVICOS AUTOMOTIVOS E COMERCIO DE CO...,SAO PAULO,MOOCA,GASOLINA,6.499
101985,POSTO DE SERVICOS NOVA MOOCA LTDA.,SAO PAULO,MOOCA,GASOLINA,6.499
65113,POSTO DE SERVICOS NOVA MOOCA LTDA.,SAO PAULO,MOOCA,GASOLINA,6.499
13342,POSTO DE SERVICOS NOVA MOOCA LTDA.,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.599
139315,AUTO POSTO TEJO LTDA,SAO PAULO,MOOCA,GASOLINA,6.599
103555,CENTRO AUTOMOTIVO CENTER PAES DE BARROS LTDA,SAO PAULO,MOOCA,GASOLINA,6.599
139277,AUTO POSTO POINT LTDA,SAO PAULO,MOOCA,GASOLINA,6.599
100310,AUTO POSTO POINT LTDA,SAO PAULO,MOOCA,GASOLINA,6.599
13733,AUTO POSTO TRILHOS LTDA.,SAO PAULO,MOOCA,GASOLINA,6.599
63246,AUTO POSTO POINT LTDA,SAO PAULO,MOOCA,GASOLINA,6.599
11836,CENTRO AUTOMOTIVO SAO RAFAEL LTDA,SAO PAULO,MOOCA,GASOLINA,6.699
65115,POSTO DE SERVICOS NOVA MOOCA LTDA.,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.699
100359,AUTO POSTO TEJO LTDA,SAO PAULO,MOOCA,GASOLINA,6.699
140718,POSTO DE SERVICOS NOVA MOOCA LTDA.,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.699
101983,POSTO DE SERVICOS NOVA MOOCA LTDA.,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.699
63341,AUTO POSTO TEJO LTDA,SAO PAULO,MOOCA,GASOLINA,6.699
13730,AUTO POSTO TRILHOS LTDA.,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.799
139313,AUTO POSTO TEJO LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.799
63248,AUTO POSTO POINT LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.799
139275,AUTO POSTO POINT LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.799
100308,AUTO POSTO POINT LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.799
63343,AUTO POSTO TEJO LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.899
11834,CENTRO AUTOMOTIVO SAO RAFAEL LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.899
63345,AUTO POSTO PAES DE BARROS LTDA,SAO PAULO,MOOCA,GASOLINA,6.899
139318,AUTO POSTO PAES DE BARROS LTDA,SAO PAULO,MOOCA,GASOLINA,6.899
100362,AUTO POSTO PAES DE BARROS LTDA,SAO PAULO,MOOCA,GASOLINA,6.899
100357,AUTO POSTO TEJO LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.899
63347,AUTO POSTO PAES DE BARROS LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.999
139316,AUTO POSTO PAES DE BARROS LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.999
100360,AUTO POSTO PAES DE BARROS LTDA,SAO PAULO,MOOCA,GASOLINA ADITIVADA,6.999

In [28]:
from numpy import shape
shape(comb_sp)

(47, 5)

In [36]:
# Media de valor geral por tipo de combustivel
# Round para casas decimais

media_comb_df = ca_df[['Produto', 'Valor de Venda']].groupby(by='Produto').mean().round(2)
display(media_comb_df)

                    Valor de Venda
Produto
DIESEL                        5.38
DIESEL S10                    5.45
ETANOL                        5.46
GASOLINA                      6.71
GASOLINA ADITIVADA            6.86
GNV                           4.39